.swiperSlide{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.swiperSlide img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{

    border-radius: 57.955px;
background: linear-gradient(0deg, #0D0D0D 0%, #0D0D0D 100%), rgba(191, 191, 191, 0.44);
background-blend-mode: color-dodge, normal;
backdrop-filter: blur(23.18181800842285px);
}