.aboutHeader{
    margin-top: 64px;
    margin-bottom: 150px;
}

.goals{
    margin-top: 150px;
}
.goals h5{
    margin-bottom: 52px !important; 
}

.goalTitle{
    color: #111;
margin-bottom: 0 !important;
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    transition: 0.5s;
}
.goalDet{
    color: #575757;
margin-bottom: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    transition:0.5s;

}
.goal{
    cursor: pointer;

    border-radius: 24px;
border: 1px solid rgba(236, 236, 236, 0.70);
box-shadow: 0px 1px 4px 0px rgba(195, 195, 195, 0.25);
}
.goal .goalBoarder{
    padding: 24px;
    border-radius: 24px;
    transition:0.5s;

    border: 3px solid transparent;

}
.goal:hover .goalBoarder{
    border: 3px solid #3F47CC;

}
.goalBoarder img{
    margin-left: 12px;
    filter: grayscale(100%)

}
.goal:hover img{
   filter: none; 
}
.goalBoarder div{
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}
.goalBoarder p{
    margin-bottom: 0;
}
.goal:hover .goalDet, .goal:hover .goalTitle{
    color: #3F47CC;

}