@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Plus+Jakarta+Sans:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.navigatioTop{
    background: linear-gradient(90deg, #3F47CE 0.99%, #1F28BE 99.42%);
        text-align: center;
        color: #FFF;
padding: 9px 0;
font-size: 12px;

font-weight: 800;
font-family: Almarai;

}

footer{
    position: relative;
}

nav img{
    margin-left: 12px;
}
nav a{
    text-decoration: none !important;
    font-family: Almarai;
line-height: 18px;
    color: #6F6F6F;
    font-size: 14px;
    
    transition: 0.2s;
    font-weight: 400;
    margin-left: 50px;
    float: left;
}

.links a:hover{
    color: #3F47CC;
    font-weight: 800;
    margin-left: 47px;

}
.active{
    color: #3F47CC;
    font-weight: 800;
    margin-left: 47px; 
}
.links a:hover + a{

  margin-left: 48px;

}

.img-bckg{
    height: 336px;
}




.service-title{
    color: #000;
font-size: 24px;
font-weight: 800;
margin-bottom: 0;
}
.service-det{
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
margin-bottom: 37px ;
}
.service-container{
    margin: auto;
    max-width: 115em;
}

.active-service p{
    color: red !important;
}
.service-subtitle{
    color: #000;
margin-bottom: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; 
}


.container-ecc  li{
    color: #4B4B4B;
font-family: Almarai ;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
.container-ecc  ul{
    margin-bottom: 50px;
}

.topBckg p{
    color: #FFF;
 font-size:  calc(30px + 4vw);
  /*  font-size: 72px;*/
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}
.navSticky {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
.txt2{
    color: #FFF;
  
    font-size: calc(12px + 0.3vw) !important;
    font-weight: 800 !important;
}
.topBckg{
  position: relative;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 26vw;
    min-height: 200px;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.topBckg div{
    background: linear-gradient(273deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.36) 132.79%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials{
    text-align: start;
    display: flex;
    align-items: center;

}
.socials a:hover{
    color: #3F47CC;

}
.socials p{
    color: #3F47CC;
    font-family: Almarai;
    font-size: 14px;
    font-weight: 400;
      margin-bottom: 0 ;

}
.compLogo{
    text-align: start;
}
.compName{
    color: #000;
    font-family: Almarai;
    font-size: 18.246px;
    
    margin-bottom: 5px;
    font-weight: 800;
    line-height: normal;
}
.compDet{
    color: #3F47CC;
margin-bottom: 0;
font-family: Almarai;
font-size: 11.86px;

font-weight: 400;

}
.socials span{
    margin: 8px;

    border-top: 1.3px solid #3F47CC;
    width: 25px;
}
h3{
    color: #3F47CC !important;
    font-size: 20px !important;
    
    font-weight: 400 !important;
    margin-bottom: 9px !important;
    line-height: normal;
}

h1,h2{
    color: #000;
    font-size: 48px !important;
    
    font-weight: 800 !important;
    line-height: normal;
    letter-spacing: -0.96px;
    margin-bottom: 14px !important;

}

.contact-title{
    color: #000;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: -0.36px;
}
.contact-input-div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-input-div1 div{
width: 46%;
display: inline-block;
}
.contact-input-div2 input{
border: none !important;
}
.contact-input-div2 .input-border{
    border: 1.5px solid #ECECEC;
    border-radius: 6px;
    display: flex;
    padding:0 8px;
    padding-right: 0;

    align-items: center;
}
.input-border:focus-within {
border: 2px solid #1F28BE;
}
button:disabled{
    opacity: 0.8;
}
input:focus, textarea:focus{
    outline: none !important;
    border: 2px solid #1F28BE !important;

}

#phone:focus{
    border: none !important

}

.footer-img{
    position: absolute;
    bottom: -45px;
    left: -26px;
}
footer{
    border-top: 1px solid  #ECECEC;;

    margin-top: 150px;
}
.usrData{
    display: flex;
    justify-content: flex-start;
    align-items: center;
width: 100%;
text-align: start;
}
.usrData .usrImg{
background-size: cover;
background-repeat: no-repeat;
height: 56px;
width: 56px;
margin-left: 17px;
}
.swiper_swiperSlide__cjumu{ height: 450px !important;
}
.img-load{
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-left: 12px;
    background-color: #D9D9D9;
}
.reviewLoad{
    width: 25%;
    border-radius: 15px;
border: 1px solid #ECECEC;
background: #FFF;
padding: 24px;
}
.swiper-pagination-bullet-active{    background-color: #3F47CC !important ;
}
.review-txt{
    margin-top: 20px;
}
.review-txt svg{
  width: 100%;

}
.review-txt p{
    color:  #374151;
    text-align: center;
 
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.8px; /* 164% */ 
}
.client-name{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
    white-space: nowrap;
}
.client-pos{
    color: #616161;
    white-space: nowrap;
margin-bottom: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.swiper-slide-prev .review,.swiper-slide-next .review {
    filter: blur(2px) !important;
}

.swiper-slide-prev .review-txt p, .swiper-slide-next .review-txt p{
    background-color: #D9D9D9;
    border-radius: 10px;
opacity: 0.2;
    color: #D9D9D9;}

    .swiper-slide-prev   .review-txt svg,  .swiper-slide-next .review-txt svg{
        display: none;
    }
    
    .swiper-slide-prev .usrData .usrImg, .swiper-slide-next .usrData .usrImg{
        background: #D9D9D9;
        border-radius: 100%;
        background-image: none !important;
        opacity: 0.6;
    }
        .swiper-slide-prev .client-name, .swiper-slide-next .client-name{
            background-color: rgba(143, 143, 143, 1);
            border-radius: 3px;
opacity: 0.16;
            color: rgba(143, 143, 143, 1);}
            .swiper-slide-prev .client-pos, .swiper-slide-next .client-pos{
                border-radius: 3px;
                opacity: 0.22;
                background-color: #D0CFCF;
                color: #D0CFCF;
            }


        
        
.swiper-slide-active .review{
    filter: none !important;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    border-radius: 57.955px;
background:rgb(239,239,239);
max-width: 74px !important;
padding: 9px 0;
transform: none !important;
left: auto !important;}
.review{
    border-radius: 15px;
border: 1px solid #ECECEC;
background: #FFF;
padding: 23px;
text-align: center;
box-shadow: 0px 2px 4px 1px rgba(208, 208, 208, 0.50);
}



.container-ecc{
    padding:  0 4vw !important;
}

.footer-container{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;

}

.clients{
    text-align: center !important;
}
.clients h5{
    margin-bottom: 0 !important;
}
.clients .companyImages-container{
    margin-top: 40px;
    margin-bottom: 70px;
}


h5{
    color: #000;
    font-size: 18px !important;
    
    font-weight: 400 !important;
    line-height: 35px !important; /* 222.222% */
    letter-spacing: -0.36px !important;
    margin-bottom: 58px !important;
}


.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}
footer a{

    color: #6F6F6F;
text-decoration: none;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 67.03px; /* 418.939% */
}
 footer .cr{
    color: #595959;
margin-top: 20px;
margin-bottom: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.03px; /* 418.939% */
 }
.send-btn{
    text-align: end;
}
.send-btn{
    color:  #FFF;
font-size: 14px;

font-style: normal;
font-weight: 800;
line-height: normal;
}
.send-btn button{
    padding: 13px 0;
    width: 155px;
    border-radius: 8px;
    background: #3F47CC;
}
.input-border p{
    margin-bottom: 0;
    color: #000;
text-align: center;
border-right: 1.5px solid #D2D5DA;
padding-right: 15px;
font-family: Plus Jakarta Sans !important;
font-size: 12.187px;
font-style: normal;
font-weight: 800;
line-height: 19.151px; /* 157.143% */
letter-spacing: -0.355px;
}
.contact-input{
    margin-bottom: 35px;
}
.contactUs label{
    display: block;
    text-align: start;
    color: #1F1F1F;
    margin-bottom: 16px;
    font-family: Almarai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.contactUs input, .contactUs textarea{
    padding:0 8px;

    color: #424242;
text-align: right;
width: 100%;
background-color: transparent;
border: 1.5px solid #ECECEC;
border-radius: 6px;
font-family: Almarai;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 250% */
letter-spacing: -0.32px;
}
.contact-txt{
    color: #000;

    font-size: 16px;
    margin-bottom: 0;

    font-weight: 400;
    line-height: 36px;
}
.contact-margin{
    margin-bottom: 40px;
}
.contact-txt span{
    color: #000;

    font-size: 16px;
    margin: 0 1px;
    font-weight: 800;
    line-height: 36px;
}
.contact-txt2{
    color: #000;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.32px;
}

.contactUs h5{
    margin-bottom: 53px !important;
}

.success{
    color:  #3F47CC;
    margin-bottom: 0 !important;
    font-size: 18px;
}
h2 span, h1 span{
border-bottom: 5px solid #3F47CC;
}



.servicesBtn{
    border-radius: 63.133px;
    background: #3F47CC;
    color:  #FFF;
text-align: center;
font-size: 17.677px;
width: 180px;
font-weight: 700;
padding: 16px 0;
margin-left: 30px;
line-height: normal;
}
.contact{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    color:  #4B5563;
text-align: center;
font-size: 17.677px;
width: 180px;
border-radius: 63.133px;
border: 1.263px solid  #E5E7EB;
background:  #FFF;
font-weight: 700;
line-height: normal;
} 
.contact svg{
    margin-right: 12px;
}







.align-div{
    display: flex;
    align-items: center;

}
.companyImages img{
        filter: grayscale(100%);
   
      
}
.companyImages img:hover{
filter: none;
}
.companyImages-container{
    padding: 0 5vw;
    margin-top: 100px;
}
.companyImages div{
    display: flex;
    align-items: center;
    justify-content: center;
}




 p, button,h1,h2,h5,h3,h4{
    font-family: Almarai !important;
    

}

body{

    direction: rtl;

}
html{

    color-scheme: none !important;
}

/*navbar*/

#navbarMobile{
    display: none;
}
#navbarMobile .socials{
    margin-top: 1em;
    justify-content: space-between;
}
#navbarMobile .socials a{
text-decoration: none;
color: #6F6F6F;
font-weight: 500;

}
.mobileLinks{
    height: 100vh;
    top: 0;
    background-color: white;
    width: 300px;
    position: absolute;
 transition: 1s;
 transform: translateX(0);
left: 0;
text-align: end;
padding: 15px;
padding-top: 10px;
z-index: 11;
position: fixed;
}
.mobileLinksClose{
    transition: 1s;

transform: translateX(-300px);
}
.logo, .socials a{
    margin: 0;
}

.closeNav{
    pointer-events:all;

    transition: 2s;
    opacity: 1 ;
position:fixed;
z-index: 12;
top: 1.5em;
border-radius: 100%;
display:inline-block;
background: rgba(52, 64, 84, 0.2);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
box-shadow: 0px 2px 4px 1px rgba(208, 208, 208, 0.50);

right: 1.5em;
}
.closeNav path{
    stroke: white;
}
.closeNavHidden{
    pointer-events: none;
        transition: 0s;
        opacity: 0 ;
    }

.sideNav{
    background: rgba(52, 64, 84, 0.2);
    backdrop-filter: blur(4.5px);    height: 100vh;
    width: -webkit-fill-available;
    top: 0;
    display: block;
    left: 0;
    transition: 1s;
opacity: 1;
    z-index: 10;
    position: fixed;
}

.navClosed{
display: none;
    opacity: 0;
    z-index: -1;
    transition: 1s;
    
    }

    #navList{
        text-align: start;
        list-style: none;
        padding: 0;
        margin-top: 1em;
        border-bottom: 1px solid #D0D5DD;
        
    } 
    #navList li{
    margin-bottom: 15px;
    }
    
    #navList a{
        font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding: 8px 10px; 
    font-family: Almarai;
    line-height: 18px;
        color: #6F6F6F;
        font-size: 14px;
        
        transition: 0.2s;
        font-weight: 400;
    display: flex;
    align-items: center;
   
        text-decoration: none;
    }

    #navList li:hover a{
        color: #3F47CC;
        font-weight: 800;
        margin-left: 47px;    }
    #navList svg{
      color: #667085;
        margin-left: 5px;
    }
    #navList .active{
        color: #3F47CC;
        font-weight: 800;
        margin-left: 47px;  
    }
  
  
        #flexName p{
            font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    margin-right: 0.5em;
    margin-bottom: 0;
        }
        .errMsg{
            color: brown;
        font-weight: 500;
            font-size: 14px;
            margin-bottom: 1em;
            display: block;
        }
        #logoutTitle{
            font-weight: 600;
            font-size: 26px;
            line-height: 20px;
            color: #344054;
         margin-bottom: 2em;
        }
        #navEmail{
            font-weight: 400 !important;
    
    color: #475467 !important;
        }
        .userNav{
            display: flex;
            position: relative;
            justify-content: space-between;
        }
      .userNav  #usrImg{
          width: 59px;
          border-radius: 100%;
      }
        .userNav button{
            position: absolute;
            left: 0;
        }
    #navFlex{
        display: flex;
        text-align: start;
      
    }
 
        .userNav p{
            display: inline-block;
            text-align: start;
        }
        @media screen and (min-width: 1600px){


            .topBckg p{
                font-size: 7vw;
            }
            .txt2{
                font-size: 1vw !important;

            }
        }

        @media screen and (max-width: 1056px){
            .links  a{
                margin-left: 25px;
            }
            .active{
                margin-left: 23px;
            }
            .links  a:hover{
           
                margin-left: 23px;
            
            }
            .links  a:hover + a{
           
                margin-left: 23px;
            
            }
        }

      

@media screen and (max-width: 991px) {
    .compName{
        font-size: 16px;
    }
    .compDet{
        font-size: 11px;
  
    }
    nav img{
        margin: 0;
    }
    .socials span{
        margin: 6px;
        width: 20px;
    }

    
}

@media screen and (max-width: 915px){
    #navbarMobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    #navbarMobile button{
        background-color: transparent;
        border: none;
    }
    nav{
        display: none;
    }
}

@media screen and (max-width: 950px) {
}
@media screen and (max-width: 767px) {
  
    
 
   
    .container-ecc li{
        padding-left: 25px;
    }
  
  
 
 
   
  
   
  
    .contactUs h5{
        margin-bottom: 30px !important;
    }
    .contact-margin{
        margin-bottom: 20px !important;
 

    }
 
  
  
  
    .companyImages-container{
        margin-top: 0;
    }
  
  
    .service-title{
        margin-bottom: 10px;
    }
 }
 @media screen and (max-width: 575px) {
  
   
  
    .footer-container{
        padding: 30px;
        text-align: center;
    }
    .footer-img{
        z-index: -1;
        left: -56px;
    }
    .footer-links{
        width: 100%;
    }
    footer .cr{
        font-size: 14px;
        line-height:30px;
         
    }
  footer a{
        text-align: center;
        line-height:40px;
        font-size: 14px;
  }

    .service-subtitle{
        font-size: 16px ;

    }
    .container-ecc ul{
        margin-bottom: 20px;
    }
   
 
    .swiper_swiperSlide__cjumu{
        width: 100% !important;
    }
    .review-txt p{
        font-size: 16px;
        line-height:26px
    }
    .usrData .usrImg{
        height: 45px;
        width: 45px;
        margin-left: 10px
    }
    .client-name{
        font-size: 16px;
 
    }
    .client-pos{
        font-size: 13px;
 
    }
    .review{
        padding: 14px;
    }
    .review-txt{
        margin-top: 0;
    }
 
   
  
    h3{
        font-size: 18px !important;
    }
  h2, h1{
    font-size: 30px !important;

    }
   
    h5{
        font-size: 16px !important;
        margin-bottom: 20px !important;
        line-height: 32px !important;
    }
    .servicesBtn,  .contact{
        font-size: 16px;
        padding: 12px 0;
        width: 150px;
    }
    .topBckg p{
        font-size: 60px;
    }
  
 }




@media screen and (min-width: 1600px) {
 
    .container-ecc li{
        font-size: 1.2vw;
 
    }
  
  
}