@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Plus+Jakarta+Sans:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.navigatioTop{
    background: linear-gradient(90deg, #3F47CE 0.99%, #1F28BE 99.42%);
        text-align: center;
        color: #FFF;
padding: 9px 0;
font-size: 12px;

font-weight: 800;
font-family: Almarai;

}

footer{
    position: relative;
}

nav img{
    margin-left: 12px;
}
nav a{
    text-decoration: none !important;
    font-family: Almarai;
line-height: 18px;
    color: #6F6F6F;
    font-size: 14px;
    
    transition: 0.2s;
    font-weight: 400;
    margin-left: 50px;
    float: left;
}

.links a:hover{
    color: #3F47CC;
    font-weight: 800;
    margin-left: 47px;

}
.active{
    color: #3F47CC;
    font-weight: 800;
    margin-left: 47px; 
}
.links a:hover + a{

  margin-left: 48px;

}

.img-bckg{
    height: 336px;
}
.categ-title{
    color: #000;
font-size: 24px;
font-style: normal;
padding-top: 46px;
font-weight: 800;
margin-bottom: 50px;
line-height: normal;
}
.categs-container{
    padding-right: 30px;
}
.categs{
    border-right: 1px solid #ECECEC;
}
.sticky-categ{
    position: sticky;
    top: 70px;
}
.service-title{
    color: #000;
font-size: 24px;
font-weight: 800;
margin-bottom: 0;
}
.service-det{
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
margin-bottom: 37px ;
}
.service-subtitle{
    color: #000;
margin-bottom: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; 
}
.service-subtitle2{
    color: #3F47CC;
font-size: 20px;
font-style: normal;
margin-bottom: 0; 

font-weight: 700;
}
.services a{
    text-decoration: none !important;
}
.container-ecc  li{
    color: #4B4B4B;
font-family: Almarai ;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
.container-ecc  ul{
    margin-bottom: 50px;
}
.categs p{
    color: #3D3D3D;
font-size: 16px;
cursor: pointer;
font-style: normal;
padding-right: 24px;
font-weight: 400;
transition: 0.4s;
margin-bottom: 20px;
line-height: 45.623px; /* 285.143% */
}
.categs p:hover{
    color: #000;
font-size: 18px;
font-style: normal;
font-weight: 800;
border-right: 2.5px solid #3F47CC;

}
.categs .activeCateg{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    border-right: 2.5px solid #3F47CC;
}
.service-data{
    height: 100vh;
    padding-top: 46px;
    padding-right: 56px;
    border-right: 1px solid #ECECEC;

}
.services-body{
    display: flex;
}
.service-categ{
flex: 1;
}
.service-data{
    flex: 3;

}
.topBckg p{
    color: #FFF;
 font-size:  calc(30px + 4vw);
  /*  font-size: 72px;*/
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}
.navSticky {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
.txt2{
    color: #FFF;
  
    font-size: calc(12px + 0.3vw) !important;
    font-weight: 800 !important;
}
.topBckg{
  
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 26vw;
    min-height: 200px;
}
.topBckg div{
    background: linear-gradient(273deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.36) 132.79%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials{
    text-align: start;
    display: flex;
    align-items: center;

}
.socials a:hover{
    color: #3F47CC;

}
.socials p{
    color: #3F47CC;
    font-family: Almarai;
    font-size: 14px;
    font-weight: 400;
      margin-bottom: 0 ;

}
.compLogo{
    text-align: start;
}
.compName{
    color: #000;
    font-family: Almarai;
    font-size: 18.246px;
    
    margin-bottom: 5px;
    font-weight: 800;
    line-height: normal;
}
.compDet{
    color: #3F47CC;
margin-bottom: 0;
font-family: Almarai;
font-size: 11.86px;

font-weight: 400;

}
.socials span{
    margin: 8px;

    border-top: 1.3px solid #3F47CC;
    width: 25px;
}
h3{
    color: #3F47CC !important;
    font-size: 20px !important;
    
    font-weight: 400 !important;
    margin-bottom: 9px !important;
    line-height: normal;
}
.history h3{
    margin-bottom: 0;
}
h1,h2{
    color: #000;
    font-size: 48px !important;
    
    font-weight: 800 !important;
    line-height: normal;
    letter-spacing: -0.96px;
    margin-bottom: 14px !important;

}

.contact-title{
    color: #000;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: -0.36px;
}
.contact-input-div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-input-div1 div{
width: 46%;
display: inline-block;
}
.contact-input-div2 input{
border: none !important;
}
.contact-input-div2 .input-border{
    border: 1.5px solid #ECECEC;
    border-radius: 6px;
    display: flex;
    padding:0 8px;
    padding-right: 0;

    align-items: center;
}
.input-border:focus-within {
border: 2px solid #1F28BE;
}
button:disabled{
    opacity: 0.8;
}
input:focus, textarea:focus{
    outline: none !important;
    border: 2px solid #1F28BE !important;

}

#phone:focus{
    border: none !important

}

.footer-img{
    position: absolute;
    bottom: -45px;
    left: -26px;
}
footer{
    border-top: 1px solid  #ECECEC;;

    margin-top: 150px;
}
.usrData{
    display: flex;
    justify-content: start;
    align-items: center;
width: 100%;
text-align: start;
}
.usrData .usrImg{
background-size: cover;
background-repeat: no-repeat;
height: 56px;
width: 56px;
margin-left: 17px;
}
.swiper_swiperSlide__cjumu{ height: 450px !important;
}
.img-load{
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-left: 12px;
    background-color: #D9D9D9;
}
.reviewLoad{
    width: 25%;
    border-radius: 15px;
border: 1px solid #ECECEC;
background: #FFF;
padding: 24px;
}
.swiper-pagination-bullet-active{    background-color: #3F47CC !important ;
}
.review-txt{
    margin-top: 20px;
}
.review-txt svg{
  width: 100%;

}
.review-txt p{
    color:  #374151;
    text-align: center;
 
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.8px; /* 164% */ 
}
.client-name{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
    white-space: nowrap;
}
.client-pos{
    color: #616161;
    white-space: nowrap;
margin-bottom: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.swiper-slide-prev .review,.swiper-slide-next .review {
    filter: blur(2px) !important;
}

.swiper-slide-prev .review-txt p, .swiper-slide-next .review-txt p{
    background-color: #D9D9D9;
    border-radius: 10px;
opacity: 0.2;
    color: #D9D9D9;}

    .swiper-slide-prev   .review-txt svg,  .swiper-slide-next .review-txt svg{
        display: none;
    }
    
    .swiper-slide-prev .usrData .usrImg, .swiper-slide-next .usrData .usrImg{
        background: #D9D9D9;
        border-radius: 100%;
        background-image: none !important;
        opacity: 0.6;
    }
        .swiper-slide-prev .client-name, .swiper-slide-next .client-name{
            background-color: rgba(143, 143, 143, 1);
            border-radius: 3px;
opacity: 0.16;
            color: rgba(143, 143, 143, 1);}
            .swiper-slide-prev .client-pos, .swiper-slide-next .client-pos{
                border-radius: 3px;
                opacity: 0.22;
                background-color: #D0CFCF;
                color: #D0CFCF;
            }


          .history-details{
           height:  -webkit-fit-content;
          }
        
.swiper-slide-active .review{
    filter: none !important;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    border-radius: 57.955px;
background:rgb(239,239,239);
max-width: 74px !important;
padding: 9px 0;
transform: none !important;
left: auto !important;}
.review{
    border-radius: 15px;
border: 1px solid #ECECEC;
background: #FFF;
padding: 23px;
text-align: center;
box-shadow: 0px 2px 4px 1px rgba(208, 208, 208, 0.50);
}

.firstDiv-img{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstDiv-img img{
    z-index: 5;
}
.alignVertical{
  
    margin: 180px 0;
}
.container-ecc{
    padding:  0 4vw !important;
}
.firstDiv-img div{
    position: absolute;
    top: -13.5vw;
    height: 80vw;
    width: 80vw;
    min-width: 1000px !important;
    min-height: 1000px !important;

    right: -100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}
.footer-container{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;

}
.goal-title{
    color: #111;
margin-bottom: 0 !important;
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    transition: 0.5s;
}
.goal-det{
    color: #575757;
margin-bottom: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    transition:0.5s;

}
.goal{
    cursor: pointer;

    border-radius: 24px;
border: 1px solid rgba(236, 236, 236, 0.70);
box-shadow: 0px 1px 4px 0px rgba(195, 195, 195, 0.25);
}
.goal .goalBoarder{
    padding: 24px;
    border-radius: 24px;
    transition:0.5s;

    border: 3px solid transparent;

}
.goal:hover .goalBoarder{
    border: 3px solid #3F47CC;

}
.review-title{
    color: #FFF;

text-align: center;
font-size: 26.18px;
font-style: normal;
border-radius: 115.4px;
border: 0.77px solid #B4B8F9;
background: #3F47CC;
font-weight: 800;
line-height: normal;
width: 241.01px;
height: 77px;
display: flex;
margin: auto;
justify-content: center;
align-items: center;
}
.review-title img{
    margin-left: 8px;
}

.client-review{
    text-align: center;
    margin-top: 150px;
}
.review-title p{
    margin-bottom: 0;
}

.goalBoarder img{
    margin-left: 12px;
    filter: grayscale(100%)

}
.goal:hover img{
   filter: none; 
}
.goalBoarder div{
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}
.goalBoarder p{
    margin-bottom: 0;
}
.goal:hover .goal-det, .goal:hover .goal-title{
    color: #3F47CC;

}

.goals{
    margin-top: 150px;
}
.about-header{
    margin-top: 64px;
    margin-bottom: 150px;
}
.clients{
    text-align: center !important;
}
h5{
    color: #000;
    font-size: 18px !important;
    
    font-weight: 400 !important;
    line-height: 35px !important; /* 222.222% */
    letter-spacing: -0.36px !important;
    margin-bottom: 58px !important;
}
 .goals h5{
    margin-bottom: 52px !important; 
}
.clients h5{
    margin-bottom: 0 !important;
}
.clients .companyImages-container{
    margin-top: 40px;
    margin-bottom: 70px;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}
footer a{

    color: #6F6F6F;
text-decoration: none;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 67.03px; /* 418.939% */
}
 footer .cr{
    color: #595959;
margin-top: 20px;
margin-bottom: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.03px; /* 418.939% */
 }
.send-btn{
    text-align: end;
}
.send-btn{
    color:  #FFF;
font-size: 14px;

font-style: normal;
font-weight: 800;
line-height: normal;
}
.send-btn button{
    padding: 13px 0;
    width: 155px;
    border-radius: 8px;
    background: #3F47CC;
}
.input-border p{
    margin-bottom: 0;
    color: #000;
text-align: center;
border-right: 1.5px solid #D2D5DA;
padding-right: 15px;
font-family: Plus Jakarta Sans !important;
font-size: 12.187px;
font-style: normal;
font-weight: 800;
line-height: 19.151px; /* 157.143% */
letter-spacing: -0.355px;
}
.contact-input{
    margin-bottom: 35px;
}
.contactUs label{
    display: block;
    text-align: start;
    color: #1F1F1F;
    margin-bottom: 16px;
    font-family: Almarai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.contactUs input, .contactUs textarea{
    padding:0 8px;

    color: #424242;
text-align: right;
width: 100%;
background-color: transparent;
border: 1.5px solid #ECECEC;
border-radius: 6px;
font-family: Almarai;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 250% */
letter-spacing: -0.32px;
}
.contact-txt{
    color: #000;

    font-size: 16px;
    margin-bottom: 0;

    font-weight: 400;
    line-height: 36px;
}
.contact-margin{
    margin-bottom: 40px;
}
.contact-txt span{
    color: #000;

    font-size: 16px;
    margin: 0 1px;
    font-weight: 800;
    line-height: 36px;
}
.contact-txt2{
    color: #000;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.32px;
}

.contactUs h5{
    margin-bottom: 53px !important;
}
.div1-padding  h1{
    margin-bottom: 44px !important;

}
.success{
    color:  #3F47CC;
    margin-bottom: 0 !important;
    font-size: 18px;
}
h2 span, h1 span{
border-bottom: 5px solid #3F47CC;
}

.div1-padding{
    padding: 0 30px;
}

.servicesBtn{
    border-radius: 63.133px;
    background: #3F47CC;
    color:  #FFF;
text-align: center;
font-size: 17.677px;
width: 180px;
font-weight: 700;
padding: 16px 0;
margin-left: 30px;
line-height: normal;
}
.contact{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    color:  #4B5563;
text-align: center;
font-size: 17.677px;
width: 180px;
border-radius: 63.133px;
border: 1.263px solid  #E5E7EB;
background:  #FFF;
font-weight: 700;
line-height: normal;
} 
.contact svg{
    margin-right: 12px;
}
.services .row {
text-align: start;
}
.serviceComp{
    color: #595959;
  margin-bottom: 0;
    font-size: 14px;
    
    transition: 0.5s;

    font-weight: 400;
    line-height: 27.321px; /* 195.149% */
}
.serviceName{
    color:  #111928;

    font-size: 20px;
    
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 27.321px; /* 136.604% */
}
.headerMobile{
    display: none;
}
.serviceDet{
    color: #374151;
margin-bottom: 32px;
    font-size: 14px;
    
    font-weight: 400;
    line-height: 22.767px; /* 162.624% */
}
.serviceDiv{
    cursor: pointer;
}
.serviceDiv div{
    display: flex;
width: 33.46px;
height: 33.696px;
border-radius: 7.286px;
background: #3F47CC;
display: flex;
transition: 0.5s;
align-items: center;
justify-content: center;
filter: grayscale(100%);
margin-bottom: 17px;
}
.serviceDiv button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceDiv button svg{
position: relative;
right: 12px;
top: 2px;
transition: 1s;
}
.serviceDiv:hover svg {
    right: 20px;

}
.serviceDiv:hover path {
    fill: #3F47CC;

}
.serviceDiv:hover .serviceComp ,.serviceDiv:hover button , .serviceDiv:hover div{
    color: #3F47CC;
filter: none;
}
.services button{
    transition: 0.5s;
    color: #474747;

font-size: 16px;

font-weight: 700;
line-height: 22.767px; /* 142.296% */
}
.align-div{
    display: flex;
    align-items: center;

}
.companyImages img{
        filter: grayscale(100%);
   
      
}
.companyImages img:hover{
filter: none;
}
.companyImages-container{
    padding: 0 5vw;
    margin-top: 100px;
}
.companyImages div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.services {
    margin-bottom: 120px;
    text-align: center;
    padding: 69px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 64px;
    width: 100vw;
    position: relative;
}
.timeline{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.timeline span{
    border-bottom: 1px solid #ECECEC;
    width: -webkit-fill-available;
}
.timeline p{
    color: #3F47CC;
font-size: 14px;
white-space: nowrap;
margin-bottom: 0;

font-weight: 800;
line-height: 19.151px; /* 136.79% */
letter-spacing: -0.355px;
margin: 0 5px;
}
.historyTitle{
    color: #000;
margin-bottom: 6px;
    font-size: 16px;
    
    font-weight: 800;
    line-height: 28px; /* 175% */
}
.historyDet{
    color: #374151;
    font-size: 14px;
    
    font-weight: 400;
    line-height: 22.767px; /* 162.624% */
}
.services h5{

    margin-bottom: 76px;
}
 p, button,h1,h2,h5,h3,h4{
    font-family: Almarai !important;
    

}

body{

    direction: rtl;

}
html{

    color-scheme: none !important;
}

/*navbar*/

#navbarMobile{
    display: none;
}
#navbarMobile .socials{
    margin-top: 1em;
    justify-content: space-between;
}
#navbarMobile .socials a{
text-decoration: none;
color: #6F6F6F;
font-weight: 500;

}
.mobileLinks{
    height: 100vh;
    top: 0;
    background-color: white;
    width: 300px;
    position: absolute;
 transition: 1s;
 transform: translateX(0);
left: 0;
text-align: end;
padding: 15px;
padding-top: 10px;
z-index: 11;
position: fixed;
}
.mobileLinksClose{
    transition: 1s;

transform: translateX(-300px);
}
.logo, .socials a{
    margin: 0;
}

.closeNav{
    pointer-events:all;

    transition: 2s;
    opacity: 1 ;
position:fixed;
z-index: 12;
top: 1.5em;
border-radius: 100%;
display:inline-block;
background: rgba(52, 64, 84, 0.2);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
box-shadow: 0px 2px 4px 1px rgba(208, 208, 208, 0.50);

right: 1.5em;
}
.closeNav path{
    stroke: white;
}
.closeNavHidden{
    pointer-events: none;
        transition: 0s;
        opacity: 0 ;
    }

.sideNav{
    background: rgba(52, 64, 84, 0.2);
    backdrop-filter: blur(4.5px);    height: 100vh;
    width: -webkit-fill-available;
    top: 0;
    display: block;
    left: 0;
    transition: 1s;
opacity: 1;
    z-index: 10;
    position: fixed;
}

.navClosed{
display: none;
    opacity: 0;
    z-index: -1;
    transition: 1s;
    
    }

    #navList{
        text-align: start;
        list-style: none;
        padding: 0;
        margin-top: 1em;
        border-bottom: 1px solid #D0D5DD;
        
    } 
    #navList li{
    margin-bottom: 15px;
    }
    
    #navList a{
        font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding: 8px 10px; 
    font-family: Almarai;
    line-height: 18px;
        color: #6F6F6F;
        font-size: 14px;
        
        transition: 0.2s;
        font-weight: 400;
    display: flex;
    align-items: center;
   
        text-decoration: none;
    }

    #navList li:hover a{
        color: #3F47CC;
        font-weight: 800;
        margin-left: 47px;    }
    #navList svg{
      color: #667085;
        margin-left: 5px;
    }
    #navList .active{
        color: #3F47CC;
        font-weight: 800;
        margin-left: 47px;  
    }
  
  
        #flexName p{
            font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    margin-right: 0.5em;
    margin-bottom: 0;
        }
        .errMsg{
            color: brown;
        font-weight: 500;
            font-size: 14px;
            margin-bottom: 1em;
            display: block;
        }
        #logoutTitle{
            font-weight: 600;
            font-size: 26px;
            line-height: 20px;
            color: #344054;
         margin-bottom: 2em;
        }
        #navEmail{
            font-weight: 400 !important;
    
    color: #475467 !important;
        }
        .userNav{
            display: flex;
            position: relative;
            justify-content: space-between;
        }
      .userNav  #usrImg{
          width: 59px;
          border-radius: 100%;
      }
        .userNav button{
            position: absolute;
            left: 0;
        }
    #navFlex{
        display: flex;
        text-align: start;
      
    }
    .nav-underline{
        display: none;
    }
        .userNav p{
            display: inline-block;
            text-align: start;
        }
        @media screen and (min-width: 1600px){


            .topBckg p{
                font-size: 7vw;
            }
            .txt2{
                font-size: 1vw !important;

            }
        }

        @media screen and (max-width: 1056px){
            .links  a{
                margin-left: 25px;
            }
            .active{
                margin-left: 23px;
            }
            .links  a:hover{
           
                margin-left: 23px;
            
            }
            .links  a:hover + a{
           
                margin-left: 23px;
            
            }
        }

      

@media screen and (max-width: 991px) {
    .compName{
        font-size: 16px;
    }
    .compDet{
        font-size: 11px;
  
    }
    nav img{
        margin: 0;
    }
    .socials span{
        margin: 6px;
        width: 20px;
    }
    .categs-container{
    padding-right: 0;
}
.service-categ{
    flex: 1.2;

}
    .alignVertical{
        margin: 80px 0 !important
    
    }
}

@media screen and (max-width: 915px){
    #navbarMobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    #navbarMobile button{
        background-color: transparent;
        border: none;
    }
    nav{
        display: none;
    }
}

@media screen and (max-width: 950px) {
}
@media screen and (max-width: 767px) {
    .services-body{
        flex-direction: column;
   }
   .categs p:hover{
    border-right: none;
border-bottom: 2.5px solid #3F47CC;
   }
    .categs p{
margin-bottom: 0;
    }
    .categs{
        border-right: none;
    }
    .categs .activeCateg{
        border-right: none;
        border-bottom: 2.5px solid #3F47CC;

    }
    .nav-underline p{
        color: #3D3D3D;
    font-size: 16px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    white-space: nowrap;
    transition: 0.4s;
    padding-bottom: 10px;
    }
    .nav-underline .activeCateg{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        border-bottom: 2.5px solid #3F47CC;
    }
    .container-ecc li{
        padding-left: 25px;
    }
    .nav-underline{
        border-bottom: 1px solid #ECECEC;
        display: block;
        flex-direction: row !important;
        margin-bottom: 1em !important;
        flex-wrap: nowrap !important;
        overflow: scroll;
    }
    .categs-container{
        display: none;
        border-bottom: 1px solid #ECECEC;    }
    .service-data{
        border:none;    }
    .categs{
display: flex;
justify-content: space-between; 
    }
    .history-flex{
        display: flex;
        margin-top: 60px;
    }
    #first-line{
        display: none;
    }
    .timeline{
        flex-direction: column;
    }
    .history-detail {
        display: flex;
        flex-direction: column;

    }
  
    .contactUs h5{
        margin-bottom: 30px !important;
    }
    .contact-margin{
        margin-bottom: 20px !important;
 

    }
    .timeline{
        margin-top: 5px;
    }
    .timeline span{
        height:125px;       
         border-bottom: none ;
        border-left: 1px solid #ECECEC;
        width: auto;
    }
    .services{
        margin-bottom: 50px;
    }
    .firstDiv-img{
        display: none;
    }
    .alignVertical{
        margin: 60px 0 !important;
        
    
    }
    .companyImages-container{
        margin-top: 0;
    }
    .categ-title{
margin-bottom: 25px !important;
    }
    .service-data{
        margin-top: 25px;

        padding: 0;
    }
    .service-title{
        margin-bottom: 10px;
    }
 }
 @media screen and (max-width: 575px) {
    .headerWeb{
        display: none;
    }
    .headerMobile span{
        padding-bottom: 5px;
    }
    .headerMobile{
        display: block;
    }
    .footer-container{
        padding: 30px;
        text-align: center;
    }
    .footer-img{
        z-index: -1;
        left: -56px;
    }
    .footer-links{
        width: 100%;
    }
    footer .cr{
        font-size: 14px;
        line-height:30px;
         
    }
  footer a{
        text-align: center;
        line-height:40px;
        font-size: 14px;
  }
    .service-title, .categ-title{
        font-size: 18px;
    }
    .service-subtitle{
        font-size: 16px ;

    }
    .container-ecc ul{
        margin-bottom: 20px;
    }
    .service-det,.service-subtitle2,.container-ecc li{
        font-size: 14px !important;
        line-height: 31px;
    
    }
    .categs p{
        white-space: nowrap;
        margin-left: 15px;
        padding: 0 5px;
    }
    .categs-container{
        overflow: scroll;
    }
    .swiper_swiperSlide__cjumu{
        width: 100% !important;
    }
    .review-txt p{
        font-size: 16px;
        line-height:26px
    }
    .usrData .usrImg{
        height: 45px;
        width: 45px;
        margin-left: 10px
    }
    .client-name{
        font-size: 16px;
 
    }
    .client-pos{
        font-size: 13px;
 
    }
    .review{
        padding: 14px;
    }
    .review-txt{
        margin-top: 0;
    }
    .client-review{
        margin-top: 90px;
    }
    .review-title p{
        font-size: 20px;
    }
    .review-title{
        height: 70px;
    }
    h3{
        font-size: 18px !important;
    }
  h2, h1{
    font-size: 30px !important;

    }
    .div1-padding h1{
        margin-bottom: 12px !important;
        line-height: 45px;
    }
    h5{
        font-size: 16px !important;
        margin-bottom: 20px !important;
        line-height: 32px !important;
    }
    .servicesBtn,  .contact{
        font-size: 16px;
        padding: 12px 0;
        width: 150px;
    }
    .topBckg p{
        font-size: 60px;
    }
    @media screen and (max-width: 484px) {
        .timeline span {
            height: 147px;}
    }
    @media screen and (max-width: 379px) {
        .timeline span {
            height: 170px;}
    }
    @media screen and (max-width: 322px) {
        .timeline span {
            height: 193px;}
    }
 }

 